{% extends "master.twig" %}

{% block conteudo %}
    {{ parent() }}
    

                        <section class="content-user flex flex-column">

        {{ include('componentes/menu_loja.twig') }}
        <div class="pedidos-content flex flex-center-flex-start flex-column">            
            <nav class="menu-icons flex flex-space-around">
                <a id="recebido"><i class="fas fa-bell"></i></a>
                <a id="em-preparo"><i class="fas fa-utensils"></i></a>
                <a id="entrega"><i class="fas fa-truck"></i></a>                      
            </nav>
            {% if status is defined%}
                {{ include('not-found-box.twig') }}
            {% endif %}
            <div class="inner-pedidos flex flex-column flex-align-center">
                {% for pedido in pedidos %}                
                    <div class="pedido-item">
                        <div class="pedido-header flex flex-space-between-center">
                            <span class="flex">Pedido: <h3>&nbsp{{pedido.id_pedido}}</h3></span>
                            <span class="flex">Valor total: <h3>&nbspR$ {{pedido.total}}</h3></span>
                            {% if pedido.status == 0%}
                                <a id="mover-preparo">
                                    <i class="fas fa-utensils"></i>
                                    <input id="id_compra" type="hidden" name="id_compra" value="{{pedido.id_compra}}">
                                </a>    
                            {% elseif pedido.status == 1%}
                                <a id="mover-entrega">
                                    <i class="fas fa-truck"></i>
                                <input id="id_compra" type="hidden" name="id_compra" value="{{pedido.id_compra}}">
                            </a>   
                            {% elseif pedido.status == 2%}
                                <a id="mover-fim">
                                    <i class="fas fa-check"></i>
                                <input id="id_compra" type="hidden" name="id_compra" value="{{pedido.id_compra}}">
                            </a> 
                            {% endif %}
                        </div>
                        {% for produtos in pedido %} 
                            {% for produto in produtos %} 
                                <div class="pedido-produto flex flex-align-center">
                                    <div class="img-prod-content flex flex-center-center">
                                        <img src="/img-banco/{{produto.imagem}}">
                                    </div>
                                    <span>{{produto.nome}}</span>
                                </div>
                            {% endfor %} 
                        {% endfor %}                   
                        <div class="status" id="id1">
                            <div class="info flex flex-space-between">
                                <div class="pagamento flex flex-column">
                                    <h3 class="info-title">Pagamento Boleto</h3>
                                    <span>{{pedido.total}}</span>
                                </div>
                                <div class="total">
                                    <h3 class="info-title">Total Pago</h3>
                                    <div class="info-precos flex flex-space-between">
                                        <p>Subtotal</p><span>&nbsp{{pedido.total}}</span>
                                    </div>
                                    <div class="info-precos flex flex-space-between">
                                        <p>Desconto</p><span>&nbspR$ 0,00</span>
                                    </div>
                                    <div class="info-precos flex flex-space-between">
                                        <p>Frete</p><span>&nbspR$ 20,02</span>
                                    </div>
                                    <div class="info-precos info-precos-last flex flex-space-between">
                                        <p>Total</p><span>&nbsp{{pedido.total}}</span>
                                    </div>
                                </div>
                                <div class="endereco">
                                    <h3 class="info-title">Endereço</h3>
                                    <h3>Guilherme Ferreira Matos</h3>
                                    <p>Rua Salgado Filho 135</p>
                                    <p>Ao lado da fabrica de biscoitos vo maria.</p>
                                    <span>Bela Vista - Paracatu, MG</span>
                                    <p>CEP: 38600000</p>
                                </div>
                            </div>
                        </div>
                    </div>        
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

{% block rodape %}
    {{ parent() }}
{% endblock %}